In [23]:
import pandas as pd

In [24]:
df_monthlywages = pd.read_csv(r"C:\Users\preem\Desktop\PROJECT\DATA ANALYSIS\MONTHLY EARNINGS OF MEN AND WOMEN.csv",encoding='latin1')
df_monthlywages.head()

,Reference area,Source type,Sex,Economic activity,Time,Local currency,2017 PPP $,U.S. dollars,Unnamed: 8
0,Albania,Insurance records,Total,Total,2015,46829,890.0,372.0,Notes\n\nAverage monthly earnings of employees...
1,Albania,Insurance records,Total,A. Agriculture; forestry and fishing,2015,33800,642.0,268.0,Notes\n\nAverage monthly earnings of employees...
2,Albania,Insurance records,Total,B. Mining and quarrying,2015,63835,1213.0,507.0,Notes\n\nAverage monthly earnings of employees...
3,Albania,Insurance records,Total,C. Manufacturing,2015,31421,597.0,249.0,Notes\n\nAverage monthly earnings of employees...
4,Albania,Insurance records,Total,"D. Electricity; gas, steam and air conditionin...",2015,62880,1195.0,499.0,Notes\n\nAverage monthly earnings of employees...

In [25]:
df_monthlywages.drop(["Source type","Economic activity","Time","Local currency","2017 PPP $","Unnamed: 8"],axis=1,inplace=True)

In [26]:
df_monthlywages

      Reference area     Sex  U.S. dollars
0            Albania   Total         372.0
1            Albania   Total         268.0
2            Albania   Total         507.0
3            Albania   Total         249.0
4            Albania   Total         499.0
...              ...     ...           ...
39851       Zimbabwe  Female           NaN
39852       Zimbabwe  Female           NaN
39853       Zimbabwe  Female           NaN
39854       Zimbabwe  Female           NaN
39855       Zimbabwe  Female           NaN

[39856 rows x 3 columns]

In [27]:
filt = df_monthlywages['Sex']=='Total'
df_monthlywages.drop(index=df_monthlywages[filt].index,inplace=True) #Filters out total cause we only need Male and Female wages
df_monthlywages

      Reference area     Sex  U.S. dollars
22           Albania    Male         384.0
23           Albania    Male         275.0
24           Albania    Male         513.0
25           Albania    Male         304.0
26           Albania    Male         488.0
...              ...     ...           ...
39851       Zimbabwe  Female           NaN
39852       Zimbabwe  Female           NaN
39853       Zimbabwe  Female           NaN
39854       Zimbabwe  Female           NaN
39855       Zimbabwe  Female           NaN

[25378 rows x 3 columns]

In [28]:
df_monthlywages.dropna(inplace = True)

In [29]:
df_monthlywages

      Reference area     Sex  U.S. dollars
22           Albania    Male         384.0
23           Albania    Male         275.0
24           Albania    Male         513.0
25           Albania    Male         304.0
26           Albania    Male         488.0
...              ...     ...           ...
39643         Zambia  Female         399.0
39644         Zambia  Female         614.0
39645         Zambia  Female          60.0
39646         Zambia  Female          59.0
39647         Zambia  Female         379.0

[24653 rows x 3 columns]

In [30]:
df_monthlywages.rename(columns={"Reference area":"Country","Sex":"Gender","U.S. dollars":"Monthly wages"},inplace = "True")
df_monthlywages.reset_index(drop = True)

       Country  Gender  Monthly wages
0      Albania    Male          384.0
1      Albania    Male          275.0
2      Albania    Male          513.0
3      Albania    Male          304.0
4      Albania    Male          488.0
...        ...     ...            ...
24648   Zambia  Female          399.0
24649   Zambia  Female          614.0
24650   Zambia  Female           60.0
24651   Zambia  Female           59.0
24652   Zambia  Female          379.0

[24653 rows x 3 columns]

In [31]:
country_grp = df_monthlywages.groupby(["Country","Gender"])

In [32]:
df_medianwages = country_grp['Monthly wages'].agg('median')

In [33]:
df_medianwages

Country    Gender
Albania    Female    406.0
           Male      420.5
Angola     Female    526.0
           Male      541.0
Argentina  Female    739.5
                     ...
Viet Nam   Male      253.0
Yemen      Female    147.0
           Male      165.0
Zambia     Female    315.0
           Male      364.0
Name: Monthly wages, Length: 254, dtype: float64

In [34]:
df_medianwages.unstack(level="Gender")

Gender      Female    Male
Country
Albania      406.0   420.5
Angola       526.0   541.0
Argentina    739.5   890.5
Armenia      206.0   273.0
Austria     2436.5  3737.5
...            ...     ...
Uzbekistan   224.0   285.0
Vanuatu      360.0   483.0
Viet Nam     224.5   253.0
Yemen        147.0   165.0
Zambia       315.0   364.0

[127 rows x 2 columns]

In [35]:
#Creating a new dataset to remove the level
df_wagegap = df_medianwages.unstack(level="Gender")
#df_wagegap.columns = df_wagegap.columns.droplevel()
df_wagegap

Gender      Female    Male
Country
Albania      406.0   420.5
Angola       526.0   541.0
Argentina    739.5   890.5
Armenia      206.0   273.0
Austria     2436.5  3737.5
...            ...     ...
Uzbekistan   224.0   285.0
Vanuatu      360.0   483.0
Viet Nam     224.5   253.0
Yemen        147.0   165.0
Zambia       315.0   364.0

[127 rows x 2 columns]

In [36]:
df_wagegap = df_wagegap.reset_index()
df_wagegap

Gender     Country  Female    Male
0          Albania   406.0   420.5
1           Angola   526.0   541.0
2        Argentina   739.5   890.5
3          Armenia   206.0   273.0
4          Austria  2436.5  3737.5
..             ...     ...     ...
122     Uzbekistan   224.0   285.0
123        Vanuatu   360.0   483.0
124       Viet Nam   224.5   253.0
125          Yemen   147.0   165.0
126         Zambia   315.0   364.0

[127 rows x 3 columns]

In [37]:
df_wagegap.columns

Index(['Country', 'Female', 'Male'], dtype='object', name='Gender')

In [38]:
df_wagegap["Wage gap"] = (df_wagegap["Male"]-df_wagegap["Female"])/df_wagegap["Male"]
df_wagegap

Gender     Country  Female    Male  Wage gap
0          Albania   406.0   420.5  0.034483
1           Angola   526.0   541.0  0.027726
2        Argentina   739.5   890.5  0.169568
3          Armenia   206.0   273.0  0.245421
4          Austria  2436.5  3737.5  0.348094
..             ...     ...     ...       ...
122     Uzbekistan   224.0   285.0  0.214035
123        Vanuatu   360.0   483.0  0.254658
124       Viet Nam   224.5   253.0  0.112648
125          Yemen   147.0   165.0  0.109091
126         Zambia   315.0   364.0  0.134615

[127 rows x 4 columns]

In [39]:
#####################################################################################################################################

In [40]:
from pycountry_convert import country_name_to_country_alpha3

In [41]:
#function to get the country codes
def get_continent(col):
    try:
        cn_a2_code =  country_name_to_country_alpha3(col)
    except:
        cn_a2_code = 'Unknown' 

    return cn_a2_code

In [42]:
df_wagegap["CODE"] = df_wagegap["Country"].apply(lambda x:get_continent(x))

In [43]:
df_wagegap

Gender     Country  Female    Male  Wage gap CODE
0          Albania   406.0   420.5  0.034483  ALB
1           Angola   526.0   541.0  0.027726  AGO
2        Argentina   739.5   890.5  0.169568  ARG
3          Armenia   206.0   273.0  0.245421  ARM
4          Austria  2436.5  3737.5  0.348094  AUT
..             ...     ...     ...       ...  ...
122     Uzbekistan   224.0   285.0  0.214035  UZB
123        Vanuatu   360.0   483.0  0.254658  VUT
124       Viet Nam   224.5   253.0  0.112648  VNM
125          Yemen   147.0   165.0  0.109091  YEM
126         Zambia   315.0   364.0  0.134615  ZMB

[127 rows x 5 columns]

In [44]:
import plotly.express as px

fig = px.choropleth(df_wagegap, locations="CODE",color="Wage gap",hover_name="Country",color_continuous_scale=px.colors.sequential.Plasma)
fig.show()